{% extends 'base.html' %}

{% block content %}
                <h2>
                    Об игре.
                </h2>
                <p>
                    <i>«КВИЗави» — игра-викторина, в которой участникам предстоит отвечать на вопросы из разных сфер жизни и получать очки за правильные ответы.</i> Так как, вопросов ограниченное количество, то их надо откуда-то брать. Данный "сайт" предназначен для агрегирования этих самых вопросов, дополняющих игру. Вы можете присылать свои вопросы или пользоваться вопросами из имеющийся базы. Ниже приведена ссылка на саму игру в печатном варианте с правилами. Have fun!
                </p>
                <p>
                    <a class="btn" href="https://www.mann-ivanov-ferber.ru/games/kvizavi/">Ссылка на игру в издательстве »</a>
                </p>
{% endblock %}