{% extends 'base.html' %}

{% block content %}
        <form role="form" id="question_form">

            <div class="form-group">
                <h4>
                    Пример заполнения вопроса
                </h4>
                <p>Запишите вопрос, выделив звездочкой слова, которые будут читаться в режиме "хардкор".
                    Ниже выберите категорию и сложность вопроса.</p>
                <div class="alert alert-dark" role="alert">
                  Кто отменил *крепостное право* 19 февраля 1861 (3 марта 1861)?
                </div>
            </div>

            <div class="form-group">
                <h4>
                    Пример ответа
                </h4>
                <div class="alert alert-dark" role="alert">
                  Александра II
                </div>
            </div>

            <div class="form-group">
                <label for="question">
                    Ваш вопрос
                </label>
                <textarea class="form-control" id="question" rows="3" required></textarea>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="complexity">
                        Сложность 🌟
                    </label>
                    <select class="custom-select" id="complexity" required>
                      <option value="">Open this select menu</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                </div>

                <div class="col-6">
                    <label for="category">
                        Категория
                    </label>
                    <select class="custom-select" id="category" required>
                      <option value="">Open this select menu</option>
                      <option value="Кто">Кто</option>
                      <option value="Что">Что</option>
                      <option value="Где">Где</option>
                      <option value="Когда">Когда</option>
                      <option value="Почему">Почему</option>
                    </select>
                </div>
            </div>

            <div class="form-group">

                <label for="answer">
                    Ответ
                </label>
                <textarea class="form-control" id="answer" rows="3" required></textarea>

            </div>

            <input class="btn btn-primary" id="submit" title="Отправить" type="button" value="Отправить">

            <div id="error" style="color: red;"></div>
            <div id="success" style="color: green;"></div>
        </form>
{% endblock%}
{% block footer %}
    <script type="text/javascript" src="{{ static('js/send_question.js') }}"></script>
{% endblock %}